/* CREDITS TO .VOIDBBG FOR BUBBLES
AND OBSIDIANNINJA11 FOR SEARCHBAR */


.visual-refresh [class^="panels_"] {
  bottom: 0px;
  left: 0px;
  width: calc(100% + 15px);
  border-radius: 0px;
  border: 0px;
  border-top: 1px solid var(--border-subtle);
  background-color: var(--bg-base-tertiary);
  padding-bottom: 4px;
  padding-left: 6px;

  >[class^="container_"] {
    padding: 0px;
    padding-right: ;
    margin: 0 8px;
    height: 57px;
  }
}
.visual-refresh  body:has([class^="sidebar_"][data-collapsed="true"]) [class^="panels_"] {
    width: calc(100% - 1px);
}
[class^="content_"],
[class^="sidebar_"] {
  overflow: visible !important;
}

.visual-refresh [class^="sidebar_"]>[class*="guilds_"] {
  margin-bottom: 0px;
  padding-top: 32px;
  top: -32px;
  border-right: 1px solid var(--border-subtle);
  overflow: visible !important;

  [class^="stack_"] {
    padding-top: 32px;
    top: -32px;
  }
}

[class*="AppLauncher"] {
  display: none;
}

.visual-refresh [class^="form_"] {
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: none;

  >div>div:not(.typingDots_d7ebeb),
  >div>div>div {
    background-color: var(--background-primary);
  }
}



[class^="channelBottomBarArea_"] {
  margin: 0px !important;

  div:not([class^="stackedBars_"], [class^="stackedBars_"] div) {
    border-radius: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

[class^="chatContent_"] {
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

[class^="subtitleContainer_"] {
  margin-left: 16px;

  >section {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

body:has([class^="sidebar_"][data-collapsed="true"]) [class^="chatContent_"] {
  margin-left: 0px;
}

body:has([class^="sidebar_"][data-collapsed="true"]) [class^="subtitleContainer_"] {
  margin-left: 0px;
  width: calc(100% - 269px);
}

body:not(:has([class^="members_"])) [class^="chatContent_"] {
  margin-right: 16px;
}

[class="subtitleContainer_a7d72e"] {
  width: calc(100% - 32px);
}

body:has([class^="members_"]) [class="subtitleContainer_a7d72e"] {
  width: calc(100% - 285px);
}
html:has([class^="sidebar_"][data-collapsed="true"]) body:not(:has([class^="members_"])) [class="subtitleContainer_a7d72e"] {
  width: calc(100% - 16px);
}
[class^="sidebarList_"],
[class^="chat_"] {
  border: none !important;
}

[class^="container_"]:has(> [class^="membersWrap_"]) {
  position: relative;
  top: -60px;
  height: calc(100% + 60px);
  border: none;
  background: none;

  [class^="members_"] {
    background: none;

    [class^="member_"] {
      background: none;
    }
  }
}

.visual-refresh [class^="sidebarList_"] [class^="scroller_c43953"] {
  border-right: 1px solid var(--border-faint);
}

[class*=toolbar_]>[class*=search_]>[class*=search_]:not([class*=open_]) {
  &>[class*=searchBar_] {
    width: 22px;
    background: transparent;
    border: none;
  }

  & [class*=icon_] {
    cursor: pointer;

    &>[class*=iconContainer_] {
      transform: scale(1.4);

      &>svg[class*=icon_] {
        color: var(--interactive-normal);
      }

      &:hover>svg[class*=icon_] {
        color: var(--interactive-active);
      }
    }
  }

  &:hover::before {
    position: absolute;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    word-wrap: break-word;
    z-index: 1002;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-normal);
    padding: 8px 12px;
    background-color: var(--background-floating);
    content: 'Search';
    box-shadow: var(--elevation-high);
  }

  &:hover::after {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-width: 5px;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: calc(100% - 1.7px);
    content: '';
    border-top-color: var(--background-floating);
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-top-width: 5px;
    transform: rotate(180deg);
  }
}


/* need to re-write
*/
.theme-dark.mouse-mode.full-motion .message_d5deea:hover {
    background: transparent;
}

[class*=replying_],
[class*=highlighted_] {
    background: transparent;
}

/* compact msgs
*/

.theme-dark [class^=contents_] > [class*=messageContent_]:not(:empty) {
    margin-left: 0;
    padding: 12px 16px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: inline-block;
    max-width: calc(100% - 24px);
    box-shadow: 0px 10px 21px 13px rgba(0,0,0,0.1);
}

.theme-dark [class^=contents_]:hover > [class*=messageContent_]:not(:empty) {
    background: rgba(0, 0, 0, 0.35);
}

.theme-dark [class*=mentioned_] [class^=contents_] > [class*=messageContent_]:not(:empty) {
    background: rgba(255, 200, 0, 0.25);
}

.theme-dark [class*=replying_][class*=groupStart_] > [class^=contents_] > [class*=messageContent_]:not(:empty) {
    background: #333333;
    border: 1px solid #555555 !important;
}

.theme-dark [class*=replying_] > [class^=contents_] > [class*=messageContent_]:not(:empty) {
    background: #333333;
    border: 1px solid #555555 !important;
}

.theme-dark [class*=replying_]:hover [class*=groupStart_] > [class^=contents_] > [class*=messageContent_]:not(:empty) {
    background: #444444;
    border: 1px solid #666666 !important;
}

.theme-dark [class*=replying_]:hover > [class^=contents_] > [class*=messageContent_]:not(:empty) {
    background: #444444;
    border: 1px solid #666666 !important;
}

[data-author-username="the.rabbit.disabler"] [class^=contents_] > [class*=messageContent_]:not(:empty) {
    background: var(--brand-500);
    -ms-flex-align: end;
    color: #ffffff;
}

[data-author-username="the.rabbit.disabler"] [class^=contents_]:hover > [class*=messageContent_]:not(:empty) {
    background: var(--brand-400);
    -ms-flex-align: end;
    color: #ffffff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.6),0px 0px 15px -3px rgba(87, 135, 239,0.8);
}


/* credit
*/

#app-mount [class*="messageListItem_"][data-is-self="true"] {
    margin-left: auto;
    width: auto;
    padding-left: 48px;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .container_b558d0 {
    direction: rtl;
	text-align: right;
	padding-right: 8px;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .groupStart_d5deea:not(.markup_f8f345) {
	text-align: right;
	padding-right: 8px;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .groupStart_d5deea > .contents_f9f2ca > .markup_f8f345  {
	text-align: left;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .contents_f9f2ca {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 8px;
}

#app-mount [class*="messageListItem_"][data-is-self="true"].message_d5deea.selected_d5deea .contents_f9f2ca {
    width: 100%;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .timestamp_f9f2ca {
    left: unset;
    right: 8px;
	margin-top: 1.75px;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .replying_d5deea .contents_f9f2ca .messageContent_f9f2ca::before,
#app-mount [class*="messageListItem_"][data-is-self="true"] .mentioned_d5deea .contents_f9f2ca .messageContent_f9f2ca::before {
    left: unset;
    right: 0;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .contents_f9f2ca .messageContent_f9f2ca,
#app-mount [class*="messageListItem_"][data-is-self="true"] a:not(.embed_b0068a .embedAuthorNameLink_b0068a),
#app-mount [class*="messageListItem_"][data-is-self="true"] .repliedMessage_f9f2ca {
    margin-left: auto;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .embedAuthor_b0068a {
    direction: ltr;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .avatar_f9f2ca {
    left: unset;
    right: 4px;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .avatarDecoration_f9f2ca {
	left: unset;
	right: 0px;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .header_f9f2ca {
    display: flex;
    flex-direction: row-reverse;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .header_f9f2ca span {
    margin-left: 0.25rem;
    margin-right: unset;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] > .messageContent_f9f2ca {
    overflow: visible;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] pre {
    max-width: 100%;
}

#app-mount .contents_f9f2ca .messageContent_f9f2ca {
    /* padding: 0; */
    margin-left: unset;
    width: fit-content;
	max-width: 750px;
}

#app-mount .contents_f9f2ca .messageContent_f9f2ca > [class*="markup_"]{
	max-width: 750px;
}

#app-mount .contents_f9f2ca {
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

#app-mount .message_d5deea {
    max-width: 100%;
}

/* #app-mount .message_d5deea.compact_f9f2ca.wrapper_f9f2ca .messageContent_f9f2ca {
    display: flex;
} */

#app-mount .compact_f9f2ca.wrapper_f9f2ca {
    padding-top: 8px;
    padding-bottom: 8px;
}

#app-mount .mentioned_d5deea.compact_f9f2ca .contents_f9f2ca .messageContent_f9f2ca::before:not([class*="messageListItem_"][data-is-self="true"]),
#app-mount .replying_d5deea.compact_f9f2ca .contents_f9f2ca .messageContent_f9f2ca::before:not([class*="messageListItem_"][data-is-self="true"]) {
    left: 4px;
}

#app-mount .mentioned_d5deea .contents_f9f2ca .messageContent_f9f2ca::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    z-index: 1;
}

#app-mount .repliedMessage_f9f2ca {
    padding: 6px;
    width: fit-content;
    max-width: 100%;
}

#app-mount .replying_d5deea .contents_f9f2ca .messageContent_f9f2ca::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    z-index: 1;
}

#app-mount [class*="messageListItem_"][data-is-self="true"] .repliedMessage_f9f2ca:before,
#app-mount .mentioned_d5deea:before,
.replying_d5deea:before,
.spine_c15230.cozy_c15230,
.message_d5deea::after,
.repliedMessageClickableSpine_f9f2ca {
    display: none;
}

/** 
 * moves message actions on message
 * by glaciercherrygatorade on discord
 */
[class*="buttonContainer"]:has([class*="buttons__"]) {
  transform: scale(0.85);
  position: absolute;
  top: 50%;
}

/* aligns self messages */
#app-mount [class*="messageListItem_"][data-is-self="true"] [class*="buttonContainer"]:has([class*="buttons__"]) {
	margin-right: 100%;
	transform: scale(0.85) rotate(180deg) scaley(-1);
	.button_f7e168{ transform: scalex(-1); }
}

/* aligns non-groupStart messages */
.messageListItem_d5deea > .message_d5deea:not(.groupStart_d5deea) {
	[class*="buttonContainer__"] > .buttons_d5deea > .buttonsInner_d5deea {
		margin-top: 10px;
	}
}